/**
* Article
* -----------------------------------------------------------------------------------------------
*/

@import './preset/init';
@import './customised/init';

.post-content, .comment-body {
  h1, h2, h3, h4, h5, h6 {
    &:not(:first-child) {
      margin-top: 5rem;
    }

    & + {
      h2, h3, h4, h5, h6 {
        &:not(:first-child) {
          margin-top: 0;
        }
      }
    }

    margin-bottom: 1rem;
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  @include WordPressBlockArticleStyle;

  > ul, > div.wp-block-group ul {
    @include GetFontPreSet;
    margin: 0 0 0 2.5rem;
    list-style-position: outside;
    list-style: square;
  }

  > ol, > div.wp-block-group ol {
    @include GetFontPreSet;
    @include BaseFontFamily;
    margin: 0 0 0 2.5rem;
    list-style-position: outside;
  }
}

.post-content, div.wp-block-group > div.wp-block-group__inner-container {
  > p, > ul, > ol, > table, > div:not(.wp-block-spacer), > blockquote,  > figure, > form, > iframe {

    &:not(:last-child) {

      margin-bottom: 3rem;
    }
  }

  .is-style-indent {
    margin-left: 1.5rem;
  }
}

.post-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  div {
    @include GetFont(1.4rem);
    display: flex;
    align-items: flex-start;
    width: 50%;

    &.next-post {
      flex-direction: row-reverse;
    }

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

blockquote.wp-block-quote {
  @include GetFontPreSet(1.6rem);
  @include BaseFontFamily;
  font-style: italic;
  min-height: 10rem;
  position: relative;
  padding: 0.2rem 1.5rem 1rem 3rem;
  box-sizing: border-box;
  border-left-width: 2rem;
  border-left-style: solid;
  @include BlockQuoteShadow;

  &.is-style-large {
	  padding: 0 4rem;

    &:before {
      font-size: 3.5rem;
      top: 0.7rem;
      left: 0rem;
    }
  }

  &:before {
    content: "\f205";
    @include DashIcons;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    top: 0.5rem;
    left: 0.5rem;
  }

  p {
    @include GetFontPreSet(1.4rem);

    &:first-child {
      margin-top: 0.5rem;
    }

    margin-bottom: 2rem;

    &:last-of-type {
      margin-bottom: 5rem;
    }
  }

  cite {
    @include GetFontPreSet(1.2rem);
    position: absolute;
    max-width: 95%;
    bottom: 0.3rem;
    right: 1rem;
    display: block;
  }

  div.wp-block-quote__citation {
    text-align: right;
  }
}

.wp-block-pullquote {
    border-top: 0.4rem solid;
    border-bottom: 0.4rem solid;
    margin-bottom: 0.175rem;
    color: currentColor;
}

.is-style-under-line {
  @include ThinBorderBottomStyle;
}

.is-style-single-character-line-spacing {
  line-height: 2;
}

.is-style-black-border {
  @include ThinBorderStyle;
  border-color: #000000;
}

.is-style-black-double-border {
  @include DoubleBorderStyle;
  border-color: #000000;
}

.is-style-r18-paragraph {
  @include Change2PinkTextStyle;
}

.is-style-text-indent {
  text-indent: 1em;
}

.is-style-speech {
  text-indent: -1em;
  padding-left: 1.5em;  

  &::before {
    content: '『';
  }

  &::after {
    content: '』';
  }
}

.block-editor-block-list__layout .block-editor-block-list__block.is-style-speech::after {
  position: relative;
}

.is-style-mt0 {
  margin-top: 0 !important;
}

.is-style-mb0 {
  margin-bottom: 0 !important;
}

.is-style-mtb0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.is-style-image-postit {
  @include ImagePostit;
}

@include ArticleStyleSet;

/**
* User Defintion Article
* -----------------------------------------------------------------------------------------------
*/

@include UserDefinitionArticle;
