/**
* Option
* -----------------------------------------------------------------------------------------------
*/

@import './preset/init';

.breadcrumbs {
  @include GetFontPreSet(1.2rem);
  @include ArialFontFamily;
  @include BreadcrumbColor;

  a {
    @include BreadcrumbColor;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.clipping4image {
  @include Clipping4Image;
}

.reduction4iframe {
  @include Reduction4Iframe;
}

.top_button {
  @include GetFontPreSet(2rem);
  @include BaseFontFamily;
  position: fixed;
  display: none;
  bottom: 1.4rem;
  right: 10rem;
  width: 6rem;
  height: 6rem;
  border-radius: 0.3rem;
  @include FillInStringColor;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  @include SketchpadSuperLayer;

  &:focus {
    outline: 0;
  }
}

.hamburger_menu {
  @include responsive() {
    display: none;
  }
  @include responsive('md') {
    @include GetFontPreSet(2rem);
    @include BaseFontFamily;
    position: fixed;
    bottom: 1.4rem;
    left: 1rem;
    width: 6rem;
    height: 6rem;
    border-radius: 0.3rem;
    @include FillInStringColor;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    @include SketchpadSuperLayer;

    &:focus {
      outline: 0;
    }
  }
}

ul.wp-tag-cloud {
  margin-left: 0.5rem;
  list-style: none;

  a {
    @include GetFontPreSet(1.6rem);
    @include ArialFontFamily;
    display: block;
    width: 100%;
    margin: 0.3rem;
    background: none;
    text-decoration: none;
    @include TagListBorderColor;
    @include DottedBorderBottomStyle;

    &:hover {
      margin-left: 2%;
      text-decoration: none;
      @include TagListHoverBorderColor;
    }
  }
}

/**
* Jetpack
* -----------------------------------------------------------------------------------------------
*/

p.grav-about {
  white-space: pre-line;
}

.wp-block-jetpack-markdown {
  p {
    margin-bottom: 2rem;
    text-indent: 1.5rem;
  }
}

.wp-block-jetpack-image-compare {
  box-shadow: 0 1rem 0.6rem -0.6rem #777777;
}

div#main-content > div#wrapper > div.content > div.main-content > main > article {
  .wp-block-jetpack-slideshow {
    display: grid;
  }
}

article {
  .sharedaddy {
    h3.sd-title::before {
      border-top: none !important;
    }

    .sd-block .sd-content ul li a.sd-button {
      color: #ffffff !important;
    }
  }

  &.tag-r18 {
    .sharedaddy .sd-block .sd-content ul li a.sd-button {
      @include Change2PinkTextStyle;
      @include Change2PinkBorderColor;

      &:hover {
        @include Change2PinkBackground;
        @include Change2PinkHoverBorderColor;

        * {
          @include Change2PinkBackground;
        }
      }
    }
  }

  &:not(.tag-r18) {
    .sharedaddy .sd-block .sd-content ul li a.sd-button {
      @include ButtonBackgroundColor;
      border: transparent thin solid;

      &:hover {
        @include ButtonHoverBackgroundColor;
      }
    }
  }
}

.infinite-scroll {
  div.pagination {
    display: none;
  }

  #navigation, &.neverending #footer {
    display: none;
  }

  .infinity-end.neverending #footer {
    display: block;
  }

  #infinite-handle {
    text-align: center;
    vertical-align: middle;

    span {
      @include GetFontPreSet(1.2rem, 700);
      font-family: Arial;
      color: #ffffff;
      width: 5.2rem;
      height: 1.6rem;
      border: none;
      border-radius: 0.4rem;
      background-color: #9b8f76;
      cursor: pointer;
    }
  }
}

/**
* Toc
* -----------------------------------------------------------------------------------------------
*/

div.content > aside > div.sidebar > section.toc_widget {
  > ul.toc_widget_list > li {
    > ul {
      margin-left: 2.5rem;

      li > ul {
        margin-left: 2.5rem;
      }
    }

    a {
      white-space: normal;
    }
  }
}

/**
* Yarpp
* -----------------------------------------------------------------------------------------------
*/

.related-posts {
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0;

    li {
      a img {
        width: 85%;
        max-width: 85%;
      }
    }

    @include RecentPost(14rem, 13.5rem);
  }

  @include responsive() {
    ul {
      li {
        &:not(:last-child) {
          margin-right: ($main_width - (14.2rem * 4)) / 3;
        }
      }
    }
  }
  @include responsive('md') {
    ul {
      justify-content: space-around;
    }
  }
}

/**
* Advanced noCaptcha & invisible Captcha
* -----------------------------------------------------------------------------------------------
*/

.grecaptcha-badge {
  @include SketchpadSuperLayer;
}
