/**
* Option
* -----------------------------------------------------------------------------------------------
*/

/* Header Postit */
.header-postit section {
  position: absolute;
  top: -3em;
  left: 32em;
  width: 8em;
  height: 2.8em;
  max-height: 2.8em;
  margin: 0.05em 0.5em 0.05em 0.5em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border: 1px solid #dcd0b6;
  background: #f5ead0;
  border-radius: 0 0 0 68px/15px;
  box-shadow: 0.1em -0.5em 0.5em rgba(0, 0, 0, 0.22);
  display: inline-block;
  font-size: 1em;
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:before {
    content: "";
    position: absolute;
    bottom: -17px;
    left: 17px;
    width: 16px;
    height: 50px;
    display: inline-block;
    background: #f5ead0 url(images/bg-side1.jpg) no-repeat;
    background-size: contain;
    transform: rotate(270deg);
  }

  h4 {
    display: none;
  }
}

/* Sidebar */
div.sidebar {
  li {
    margin: 0 auto;
  }

  section {
    &.widget_meta a, &.widget_pages a, &.widget_categories a, &.toc_widget a {
      width: 15em;
      margin: 0.05em 0 0.05em 0.5em;
      padding: 0.5em 0 0.5em 1.9em;
      background-image: linear-gradient(to right, #ffffcc 0%, #f1f1c1 0.5%, #f1f1c1 10%, #ffffcc 12%);
      border-right: #ff0000 solid 1.5em;
      box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.22);
      display: inline-block;
      font-size: 0.95em;
      font-style: italic;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.widget_meta > ul > li:nth-child(9n + 2) a, &.widget_pages > ul > li:nth-child(9n + 2) a, &.widget_categories > ul > li:nth-child(9n + 2) a, &.toc_widget > ul > li:nth-child(9n + 2) a {
      border-right-color: #4169e1;
    }

    &.widget_meta > ul > li:nth-child(9n + 3) a, &.widget_pages > ul > li:nth-child(9n + 3) a, &.widget_categories > ul > li:nth-child(9n + 3) a, &.toc_widget > ul > li:nth-child(9n + 3) a {
      border-right-color: #ffd700;
    }

    &.widget_meta > ul > li:nth-child(9n + 4) a, &.widget_pages > ul > li:nth-child(9n + 4) a, &.widget_categories > ul > li:nth-child(9n + 4) a, &.toc_widget > ul > li:nth-child(9n + 4) a {
      border-right-color: #90ee90;
    }
  
    &.widget_meta > ul > li:nth-child(9n + 5) a, &.widget_pages > ul > li:nth-child(9n + 5) a, &.widget_categories > ul > li:nth-child(9n + 5) a, &.toc_widget > ul > li:nth-child(9n + 5) a {
      border-right-color: #ff8c00;
    }

    &.widget_meta > ul > li:nth-child(9n + 6) a, &.widget_pages > ul > li:nth-child(9n + 6) a, &.widget_categories > ul > li:nth-child(9n + 6) a, &.toc_widget > ul > li:nth-child(9n + 6) a {
      border-right-color: #e6e6fa;
    }
  
    &.widget_meta > ul > li:nth-child(9n + 7) a, &.widget_pages > ul > li:nth-child(9n + 7) a, &.widget_categories > ul > li:nth-child(9n + 7) a, &.toc_widget > ul > li:nth-child(9n + 7) a {
      border-right-color: #ffe4e1;
    }
    
    &.widget_meta > ul > li:nth-child(9n + 8) a, &.widget_pages > ul > li:nth-child(9n + 8) a, &.widget_categories > ul > li:nth-child(9n + 8) a, &.toc_widget > ul > li:nth-child(9n + 8) a {
      border-right-color: #f5fffa;
    }

    &.widget_meta > ul > li:nth-child(9n + 9) a, &.widget_pages > ul > li:nth-child(9n + 9) a, &.widget_categories > ul > li:nth-child(9n + 9) a, &.toc_widget > ul > li:nth-child(9n + 9) a {
      border-right-color: #000000;
    }
  
    &.widget_pages a img, &.widget_categories a img, &.toc_widget a img {
      vertical-align: middle;
    }

    ul > li > ul {
      margin-left: 2em;
    
      > li > ul {
        margin-left: 2em;
    
        > li > ul {
          margin-left: 2em;
    
          > li > ul {
            margin-left: 2em;
          }
        }
      }
    }

    &.toc_widget a {
      width: 18em;
      padding-left: 2.5em;
      padding-right: 0.2em;
      white-space: normal;
    }
  }
}

/* Tag */
.post-tag a {
  padding-right: 0.5em;
  background: #776b53;
  vertical-align: middle;
  border-radius: 0.5em 0 0 0.5em;
  color: #FFF;
  text-decoration: none;

  &:before {
    content: "â—";
    color: #f4eddf;
    margin: 0 0.3em;
  }
}

/* Breadcrumbs */
.breadcrumbs {
  color: #9b8f76;

  a {
    color: #9b8f76;
  }

  color: #9b8f76;
  display: block;
  clear: both;
  font-size: 0.75em;
  font-family: Arial;
}

/* Postit */
.postit {
  width: 15em;
  margin: 0.05em 0 0.05em 0.5em;
  padding: 0.5em 0 0.5em 1.9em;
  background-image: linear-gradient(to right, #ffffcc 0%, #f1f1c1 0.5%, #f1f1c1 10%, #ffffcc 12%);
  border-right: #ff0000 solid 1.5em;
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.22);
  display: inline-block;
  font-size: 0.95em;
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  a img {
    vertical-align: middle;
  }
}

.postit-royalblue {
  border-right-color: #4169e1;
}

.postit-gold {
  border-right-color: #ffd700;
}

.postit-lightgreen {
  border-right-color: #90ee90;
}

.postit-darkorange {
  border-right-color: #ff8c00;
}

.postit-lavender {
  border-right-color: #e6e6fa;
}

.postit-mistyrose {
  border-right-color: #ffe4e1;
}

.postit-mintcream {
  border-right-color: #f5fffa;
}

.postit-black {
  border-right-color: #000000;
}

div {
  /* Plugin : Recent Posts */
  &.rpwwt-widget {
    word-wrap: break-word;
    overflow: hidden;
    
    li {
      width: 12em;
      max-width: 12em;
      height: 11.5em;
      max-height: 11.5em;
      position: relative;
      border: 1px solid #ddd;
      color: #e47911;
      display: block;
      overflow: hidden;

      > a {
        width: 12em;
        max-width: 12em;
        height: 11.5em;
        max-height: 11.5em;
        margin: 0;
        color: #e47911;
        display: block;
        transition: 1s all;
      }

      > a:hover {
        color: #996633;

        img {
          transform: scale(1.2, 1.2);
          transition: 1s all;
        }
      }
      
      img.wp-post-image {
        position: absolute;
        height: 95%;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        text-align: center;
        object-fit: contain;
      }

      span {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        margin: 0;
        padding: 0 0.5em 0 0.5em;
        font-size: 0.8em;
        font-weight: bold;
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: #000;
        opacity: 0.8;
        box-sizing: border-box;
      }
    }
  }

  /* Plugin : yarpp */
  &.related-posts {
    word-wrap: break-word;
    overflow: hidden;
    
    li {
      width: 12em;
      max-width: 12em;
      height: 11.5em;
      max-height: 11.5em;
      position: relative;
      border: 1px solid #ddd;
      color: #e47911;
      display: block;
      overflow: hidden;

      > a {
        width: 12em;
        max-width: 12em;
        height: 11.5em;
        max-height: 11.5em;
        margin: 0;
        color: #e47911;
        display: block;
        transition: 1s all;

        &:hover {
          color: #996633;
  
          img {
            transform: scale(1.2, 1.2);
            transition: 1s all;
          }
        }
      }

      img.wp-post-image {
        position: absolute;
        height: 95%;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        text-align: center;
        object-fit: contain;
      }

      span {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        margin: 0;
        padding: 0 0.5em 0 0.5em;
        font-size: 0.8em;
        font-weight: bold;
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: #000;
        opacity: 0.8;
        box-sizing: border-box;
      }

      &.tag-r18 {
        border-color: #FFB6C1 !important;

        > a {
          color: #FFFFFF !important;
          font-weight: bold !important;
          text-shadow: #FF9A93 1px 1px 10px, #FF9A93 -1px 1px 10px, #FF9A93 1px -1px 10px, #FF9A93 -1px -1px 10px !important;
        }
      }

      &:not(.tag-r18) {
        border-color: #ddd !important;

        > a > span {
          color: #e47911 !important;
          font-weight: initial !important;
          text-shadow: initial !important;
        }
      }
    }

    > ul {
      margin: 0;
      font-size: 0.75em;
      display: flex;
      list-style: none;

      > li {
        margin: 0 0 0 1.3px;

        > a > img {
          width: 100%;
          max-width: 130px;
          margin: 0 auto;
          text-align: center;
          object-fit: contain;
        }
      }
    }
  }
}

.glass-frame {
  position: relative;
  border: 1px solid #ddd;
  color: #e47911;
  display: block;
  overflow: hidden;

  > a {
    margin: 1em 0 1em 0;
    color: #e47911;
    display: block;
    transition: 1s all;
  
    &:hover {
      color: #996633;

      img {
        transform: scale(1.2, 1.2);
        transition: 1s all;
      }
    }
  }

  > img {
    position: absolute;
    height: 95%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
    object-fit: contain;
  }

  > figcaption {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0 0.5em 0 0.5em;
    font-size: 0.8em;
    font-weight: bold;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #000;
    opacity: 0.8;
    box-sizing: border-box;
  }  
}

.showcase {
  width: 120px;
  max-width: 120px;
  margin: 0 auto;
  padding: 0;

  > a > img {
    width: 100px;
    max-width: 100px;
  }
}

/* Return to Top button */
.top_button {
  position: fixed;
  bottom: 14px;
  right: 100px;
  width: 60px;
  height: 60px;
  border-radius: 3px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  line-height: 3em;
  z-index: 10000;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

/* Gravater */
p.grav-about {
  white-space: pre-line;
}

/* JetPack : share buttons */
.sharedaddy {
  h3.sd-title::before {
    border-top: none !important;
  }

  .sd-block .sd-content ul li a.sd-button {
    color: #FFFFFF !important;
  }
}

/* Advanced noCaptcha & invisible Captcha */
.grecaptcha-badge {
  z-index: 11000;
}

/* Tag : R18 */
article {
  &.tag-r18 {
    * {
      color: #FFFFFF !important;
      font-weight: bold !important;
      text-shadow: #FF9A93 1px 1px 10px, #FF9A93 -1px 1px 10px, #FF9A93 1px -1px 10px, #FF9A93 -1px -1px 10px !important;
      border-color: #FFB6C1 !important;
    }

    li::marker {
      color: #FF9A93;
    }

    .wp-block-image img, .image-postit {
      border-image: linear-gradient(to bottom, #FFB6C1 0.001em, #FFFFFF 0.1em) 1 / 1 0 0 0;
    }

    blockquote.wp-block-quote:before {
      color: #FFFFFF;
    }

    .post-edit-link, .post-tag a {
      background: #FF9A93 !important;
    }

    .sd-block .sd-content ul li a.sd-button:hover {
      border-color: #FF9A93 !important;
    }

    .post-header h3 a:before {
      content: "";
      background: inherit;
      filter: drop-shadow(1px 1px 2px #FF9A93);
    }

    > header > div.post-header > h3.post-title {
      > a {
        padding-right: 0 !important;
        background: none !important;
      }

      span.r18 {
        font-size: 0.75em;

        > span {
          margin-top: -1px;
          margin-left: -1px;
        }
      }
    }
  }

  &:not(.tag-r18) {
    span.r18 {
      display: none;
    }

    .sharedaddy .sd-block .sd-content ul li a.sd-button {
      background-color: #AF9F88;
      border: solid 1px transparent;
  
      &:hover {
        border: solid 1px #999999;
      }
    }
  }
}
