/**
* WordPress Core
* -----------------------------------------------------------------------------------------------
*/

.alignnone {
  margin: 0.5rem 0;
}

.aligncenter, div.aligncenter {
  display: block;
  margin: 0.5rem auto;
}

.alignright {
  float: right;
  margin: 0.5rem 0 2rem 2rem;
}

.alignleft {
  float: left;
  margin: 0.5rem 2rem 2rem 0;
}

a img {
  &.alignright {
    float: right;
    margin: 0.5rem 0 2rem 2rem;
  }

  &.alignnone {
    margin: 0.5rem 0;
  }

  &.alignleft {
    float: left;
    margin: 0.5rem 2rem 2rem 0;
  }

  &.aligncenter {
    display: block;
    margin: 0.5rem auto;
  }
}

div.wp-caption {
  box-sizing: border-box;
  padding: 0.5rem;
  max-width: 100%;
  border: 0.2rem solid #d1c6ab;
  border-radius: 0.2rem;

  /* Image does not overflow the content area */
  text-align: center;
}

.wp-caption {
  &.alignnone {
    margin: 0.5rem 0;
  }

  &.alignleft {
    margin: 0.5rem 2rem 2rem 0;
  }

  &.alignright {
    margin: 0.5rem 0 2rem 2rem;
  }

  img, a img {
    float: none;
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: auto;
    height: auto;
    border: 0 none;
  }

  p.wp-caption-text {
    margin: 0;
    padding: 0 0.4rem 0.5rem;
    font-size: 1.1rem;
    line-height: 1.7rem;
  }
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
  position: absolute !important;
  height: 0.1rem;
  width: 0.1rem;
  overflow: hidden;

  &:focus {
    background-color: #f1f1f1;
    border-radius: 0.3rem;
    box-shadow: 0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 1.4rem;
    font-weight: 700;
    height: auto;
    left: 0.5rem;
    line-height: normal;
    padding: 1.5rem 2.3rem 1.4rem;
    text-decoration: none;
    top: 0.5rem;
    width: auto;
    z-index: 100000;

    /* Above WP toolbar. */
  }
}

.sticky, .gallery-caption {
  color: inherit;
}
