@mixin Change2PinkTextStyle {
  color: #ffffff !important;
  font-weight: 700 !important;
  text-shadow: #FF9A93 0.1rem 0.1rem 1rem, #FF9A93 -0.1rem 0.1rem 1rem,
  #FF9A93 0.1rem -0.1rem 1rem, #FF9A93 -0.1rem -0.1rem 1rem !important;
}

@mixin Change2PinkBoxStyle {
  box-shadow: #FF9A93 0.1rem 0.1rem 1rem, #FF9A93 -0.1rem 0.1rem 1rem,
  #FF9A93 0.1rem -0.1rem 1rem, #FF9A93 -0.1rem -0.1rem 1rem;
}

@mixin Change2PinkQuoteSimbol {
  color: #FFFFFF;
}

@mixin Change2PinkBorderColor {
  border-color: #FFB6C1;
  outline-color: #FFB6C1;
}

@mixin Change2PinkHoverBorderColor {
  border-color: #FF9A93;
}

@mixin Change2PinkBackground {
  background: #FF9A93;
}

@mixin Change2PinkImagePostit {
  border-image: linear-gradient(to bottom, #ffb6c1 0rem, #ffffff 0.1rem) 1 / 1 0
    0 0;
}
