@use 'preset'                as Preset;
@use 'define'                as Define;
@use 'common'                as Common;
@use './specific/categories' as Specific;

$class: 'wp-block-categories';

/**
 * Sketchpad Style - Categories.
 */
@include Common.Main($class) {
  a:hover {
    text-decoration: underline;
  }

  &#{Define.$key}-postit {
    @include Specific.Postit;
  }

  &:not(#{Define.$key}-postit) li {
    @include Common.DefaultListStyle('div');
  }
}

@include Common.Sidebar($class) {
  @include Preset.GetFontPreSet(Define.$sidebar_font_size, Define.$sidebar_font_weight);

  &#{Define.$key}-postit {
    @include Specific.Postit4Sidebar;
  }
}
