@use 'preset'                  as Preset;
@use 'define'                  as Define;
@use 'common'                  as Common;
@use './specific/latest_posts' as Specific;

$class: 'wp-block-latest-posts';

/**
 * Sketchpad Style - Latest Posts.
 */
@include Common.Main($class) {
  @include Specific.Styles($class);

  &__list {
    &:not(.is-grid)#{Define.$key}-postit {
      @include Specific.Postit;
    }
  }
}

@include Common.MainOnly($class) {
  @include Specific.MainOnly($class);
}

@include Common.Sidebar($class) {
  @include Preset.GetFontPreSet(Define.$sidebar_font_size, Define.$sidebar_font_weight);

  &__list {
    &:not(#{Define.$key}-postit) {
      li:not(:first-child) {
        margin-top: 1.25rem;
      }
    }

    &:not(.is-grid)#{Define.$key}-postit {
      @include Specific.Postit4Sidebar;
    }
  }
}
