@use 'preset'                as Preset;
@use 'define'                as Define;
@use 'common'                as Common;
@use './specific/post_terms' as Specific;

$class: 'wp-block-post-terms';
$tag:   'taxonomy-post_tag';

/**
 * Sketchpad Style - Post Terms.
 */
@include Common.Main('#{$class}:not(.#{$tag}#{Define.$key}1)') {
  a:hover {
    text-decoration: underline;
  }
}

@include Common.Main('#{$class}.#{$tag}#{Define.$key}') {
  @include Specific.PostTag;
}

@if Define.$use_change_color {
  @include Common.ChangeColor4PostMeta {
    .#{$class} {
      &:not(#{Define.$no_change_class_name}) {
        @include Preset.Change2PinkTextStyle;
        @include Preset.Change2PinkBorderColor;

        a {
          @include Preset.Change2PinkTextStyle;
        }

        &.#{$tag} {
          a {
            @include Preset.Change2PinkBorderColor;
            @include Preset.Change2PinkBackground;
          }
        }
      }
    }
  }

  @include Common.ChangeColor4PostFooter {
    .#{$class} {
      &:not(#{Define.$no_change_class_name}) {
        @include Preset.Change2PinkTextStyle;
        @include Preset.Change2PinkBorderColor;

        a {
          @include Preset.Change2PinkTextStyle;
        }

        &.#{$tag} {
          a {
            @include Preset.Change2PinkBorderColor;
            @include Preset.Change2PinkBackground;
          }
        }
      }
    }
  }
}
