@use 'preset'               as Preset;
@use 'define'               as Define;
@use 'common'               as Common;

$class: 'wp-block-post-comments-form';

/**
 * Sketchpad Style - Post Comments Form.
 */
@include Common.Main($class) {
  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  &.comment-respond {
    form {
      @include Preset.GetFontPreSet($font-size: 0.875rem);
      margin-top: 1.25rem;

      > p {
        margin-top: 0.625rem;
      }

      .required {
        @include Preset.Required;
      }

      .comment-form-comment {
        textarea {
          max-width: 100%;
        }
      }

      .form-submit input {
        @include Preset.Button($width: 100%, $height: 100%);
      }

      .logged-in-as {
        .required-field-message {
          display: none;
        }

        & + .comment-form-comment > label > .required {
          display: none;
        }
      }
    }

    .comment-reply-title {
      > a {
        @include Preset.ArialFontFamily;
        font-style: italic;
      }

      #cancel-comment-reply-link {
        @include Preset.GetFontPreSet($font-size: 0.75rem, $font-weight: 400);
        margin-left: 0.3125rem;

        &::before {
          content: '(';
        }

        &::after {
          content: ')';
        }
      }
    }
  }
}
