@use 'preset' as Preset;
@use 'define' as Define;
@use 'common' as Common;

$class: 'wp-block-sketchpad-modified-blocks-table-of-contents';

/**
 * Sketchpad Style - Sketchpad modified Blocks's Table of Contens.
 */
@include Common.MainOnly($class) {
  li {
    @include Common.DefaultListStyle();
  }
}

@include Common.Sidebar($class) {
  @include Preset.GetFontPreSet(Define.$sidebar_font_size, Define.$sidebar_font_weight);
  padding: 0.94rem 0.63rem 0.94rem 1.25rem;

  h1, h2, h3, h4, h5, h6 {
    @include Preset.GetFontPreSet($font-size: Define.$sidebar_font_size, $font-weight: 700);
    @include Preset.SidebarHeadingColor;
    margin-bottom: 0.3125rem;
    @include Preset.SidebarDelimiterBorderColor;
    @include Preset.ThinBorderBottomStyle(0.125rem);
  }

  a:hover {
    text-decoration: underline;
  }

  > ul {
    > li:first-child ul div.toc-item {
      margin-top: 0.3125rem;
    }
  
    > li:not(:first-child) div.toc-item {
      margin-top: 0.3125rem;
    }
  
    > li {
      @include Preset.SidebarPostitColorSeries('div');
    }
  
    li {
      display: inline-block;
  
      div.toc-item {
        @include Preset.BasePostit($display: flex);
        @include Preset.Postit4Sidebar;

        > div.toc-element {
          width: 100%
        }
      }
    }

    ul {
      margin-left: 2.1em;
    }
  }
}
