@use 'preset'              as Preset;
@use 'define'              as Define;
@use 'common'              as Common;

$class: 'wp-block-jetpack-slideshow';

/**
 * Sketchpad Style - Jetpack's Slide Show.
 */
.wp-block-group .#{$class} {
  .wp-block-jetpack-slideshow_pagination {
    justify-content: center;

    &.swiper-pagination button.swiper-pagination-bullet {
      height: 1rem;
      width: 1rem;
    }

    .swiper-pagination-simple {
      text-align: center;
    }
  }
}

@include Common.Main($class) {
  &.is-style-image-postit {
    @include Preset.ImagePostit(0.3125rem  0.3125rem 1.25rem  0.3125rem);

    .wp-block-jetpack-slideshow_pagination {
      margin-bottom: 1.5rem;
      padding-top: 0.46875rem;
    }
  }
}

@if Define.$use_change_color {
  @include Common.ChangeColor4Article {
    .#{$class} {
      &:not(#{Define.$no_change_class_name}) {
        @include Preset.Change2PinkTextStyle;
        @include Preset.Change2PinkBorderColor;

        img {
          @include Preset.Change2PinkImagePostit;
        }

        a, figcaption {
          @include Preset.Change2PinkTextStyle;
          @include Preset.Change2PinkBorderColor;
        }

        button {
          @include Preset.Change2PinkBoxStyle;
        }
      }
    }
  }
}
