@use 'preset'              as Preset;
@use 'define'              as Define;
@use 'common'              as Common;

$class: 'wp-block-jetpack-slideshow';

/**
 * Sketchpad Style - Jetpack's Slide Show.
 */
.wp-block-group .#{$class} img {
  width: 100%;
  object-fit: initial;
}

@include Common.Main($class) {
  &#{Define.$key}-postit {
    @include Preset.ImagePostit(0.3125rem  0.3125rem 1.25rem  0.3125rem);

    .wp-block-jetpack-slideshow_pagination.swiper-pagination-bullets {
      margin-bottom: 1rem;
      padding-top: 0.3125rem;
    }
  }
}
