@use 'preset' as Preset;
@use 'define' as Define;
@use 'common' as Common;

/**
 * Sketchpad Style - Paragraph.
 */
@if Define.$use_change_color {
  @include Common.ChangeColor(Define.$change2pink) {
    p {
      &:not(#{Define.$no_change_class_name}) {
        @include Preset.Change2PinkTextStyle;
        @include Preset.Change2PinkBorderColor;

        a {
          @include Preset.Change2PinkTextStyle;
          @include Preset.Change2PinkBorderColor;
        }
      }
    }
  }
}

.block-editor-block-list__layout .block-editor-block-list__block {
  &.is-style-speech::after {
    content: '』';
    position: relative;
    top: inherit;
    bottom: initial;
    left: initial;
    right: initial;
  }
}
