@use 'preset' as Preset;
@use 'define' as Define;
@use 'common' as Common;

/**
 * Sketchpad Style - Post Featured Image.
 */
.block-editor-block-list__layout .block-editor-block-list__block {
  &.wp-block-post-featured-image {
    &#{Define.$key}1 {
      .block-editor-media-placeholder {
        min-height: initial;
        height: 100%;
        border-radius: initial;
      }
    }
  }
}
