@mixin Styles {
  & {
    &.is-style-indent {
      margin-left: 0.9375rem;
    }

    &.is-style-empty:not(:has(> *)) {
      display: none;
    }

    &[class*="wp-container"] {
      &.is-style-align-items-start {
        align-items: flex-start;
      }
  
      &.is-style-align-items-center {
        align-items: center;
      }
  
      &.is-style-align-items-end {
        align-items: flex-end;
      }
    }
  }
}
