/**
 * Sketchpad Style - Categories.
 */
.wp-block-categories a:hover {
  text-decoration: underline;
}
.wp-block-categories.is-style-sketchpad-postit.wp-block-categories-list > li:first-child ul div {
  margin-top: 0.3125rem;
}
.wp-block-categories.is-style-sketchpad-postit.wp-block-categories-list > li:not(:first-child) div {
  margin-top: 0.3125rem;
}
.wp-block-categories.is-style-sketchpad-postit.wp-block-categories-list > li:not([class*=postit-]):nth-child(9n+1) div {
  border-color: #ff0000;
}
.wp-block-categories.is-style-sketchpad-postit.wp-block-categories-list > li:not([class*=postit-]):nth-child(9n+2) div {
  border-color: #4169e1;
}
.wp-block-categories.is-style-sketchpad-postit.wp-block-categories-list > li:not([class*=postit-]):nth-child(9n+3) div {
  border-color: #ffd700;
}
.wp-block-categories.is-style-sketchpad-postit.wp-block-categories-list > li:not([class*=postit-]):nth-child(9n+4) div {
  border-right-color: #90ee90;
}
.wp-block-categories.is-style-sketchpad-postit.wp-block-categories-list > li:not([class*=postit-]):nth-child(9n+5) div {
  border-right-color: #ff8c00;
}
.wp-block-categories.is-style-sketchpad-postit.wp-block-categories-list > li:not([class*=postit-]):nth-child(9n+6) div {
  border-right-color: #e6e6fa;
}
.wp-block-categories.is-style-sketchpad-postit.wp-block-categories-list > li:not([class*=postit-]):nth-child(9n+7) div {
  border-right-color: #ffe4e1;
}
.wp-block-categories.is-style-sketchpad-postit.wp-block-categories-list > li:not([class*=postit-]):nth-child(9n+8) div {
  border-right-color: #f5fffa;
}
.wp-block-categories.is-style-sketchpad-postit.wp-block-categories-list > li:not([class*=postit-]):nth-child(9n+9) div {
  border-right-color: #000000;
}
.wp-block-categories.is-style-sketchpad-postit.wp-block-categories-list li {
  list-style: none;
}
.wp-block-categories.is-style-sketchpad-postit.wp-block-categories-list li div {
  font-style: italic;
  display: inline-block;
  width: 50%;
  padding: 0.625rem 0.625rem 0.625rem 2.5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffcc), color-stop(0.5%, #f1f1c1), color-stop(2.2rem, #f1f1c1), color-stop(7%, #ffffcc));
  background-image: linear-gradient(to right, #ffffcc 0%, #f1f1c1 0.5%, #f1f1c1 2.2rem, #ffffcc 7%);
  border-right-style: solid;
  border-right-width: 1.875rem;
  -webkit-box-shadow: 0.0625rem 0.125rem 0.125rem rgba(0, 0, 0, 0.22);
          box-shadow: 0.0625rem 0.125rem 0.125rem rgba(0, 0, 0, 0.22);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.wp-block-categories.is-style-sketchpad-postit.wp-block-categories-list ul {
  margin-left: 2.1em;
}
.wp-block-categories.is-style-sketchpad-postit.wp-block-categories-dropdown {
  font-style: italic;
  display: inline-block;
  width: 50%;
  padding: 0.625rem 0.625rem 0.625rem 2.5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffcc), color-stop(0.5%, #f1f1c1), color-stop(2.2rem, #f1f1c1), color-stop(7%, #ffffcc));
  background-image: linear-gradient(to right, #ffffcc 0%, #f1f1c1 0.5%, #f1f1c1 2.2rem, #ffffcc 7%);
  border-right-style: solid;
  border-right-width: 1.875rem;
  -webkit-box-shadow: 0.0625rem 0.125rem 0.125rem rgba(0, 0, 0, 0.22);
          box-shadow: 0.0625rem 0.125rem 0.125rem rgba(0, 0, 0, 0.22);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-color: #ff0000;
}
.wp-block-categories:not(.is-style-sketchpad-postit) li {
  margin-left: 1.5em;
}
.wp-block-categories:not(.is-style-sketchpad-postit) li div:hover {
  padding-left: 1.5em;
  -webkit-transition: padding-left 1s;
  transition: padding-left 1s;
}
.wp-block-categories:not(.is-style-sketchpad-postit) li a {
  text-decoration: none;
  padding-bottom: 0.125rem;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--wp--preset--color--sketchpad-heading-font-color)), to(var(--wp--preset--color--sketchpad-heading-font-color))) 0 100%/0 0.0625rem no-repeat;
  background: linear-gradient(var(--wp--preset--color--sketchpad-heading-font-color), var(--wp--preset--color--sketchpad-heading-font-color)) 0 100%/0 0.0625rem no-repeat;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
.wp-block-categories:not(.is-style-sketchpad-postit) li a:hover {
  background-size: 100% 0.0625rem;
}

aside .wp-block-categories {
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 400;
}
aside .wp-block-categories.is-style-sketchpad-postit.wp-block-categories-list div, aside .wp-block-categories.is-style-sketchpad-postit.wp-block-categories-dropdown {
  width: 10.9375rem;
  margin-left: 0.3125rem;
  padding: 0.375rem 0.375rem 0.375rem 1.75rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffcc), color-stop(0.5%, #f1f1c1), color-stop(10%, #f1f1c1), color-stop(12%, #ffffcc));
  background-image: linear-gradient(to right, #ffffcc 0%, #f1f1c1 0.5%, #f1f1c1 10%, #ffffcc 12%);
  border-right-width: 1.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}