@charset "UTF-8";
/**
 * Sketchpad Style - Paragraph.
 */
p.is-style-sketchpad1 a:hover {
  text-decoration: underline;
}

p.is-style-text-indent {
  text-indent: 1em;
}
p.is-style-single-character-line-spacing {
  line-height: 2;
}
p.is-style-speech {
  text-indent: -1em;
  padding-left: 1.5em;
}
p.is-style-speech::first-letter {
  font-size: inherit;
}
p.is-style-speech::before {
  content: "『";
}
p.is-style-speech::after {
  content: "』";
}
p.is-style-r18-paragraph {
  color: #ffffff !important;
  font-weight: 700 !important;
  text-shadow: #FF9A93 0.1rem 0.1rem 1rem, #FF9A93 -0.1rem 0.1rem 1rem, #FF9A93 0.1rem -0.1rem 1rem, #FF9A93 -0.1rem -0.1rem 1rem !important;
}

.wp-block-post-content span + p, .wp-block-post-content p + p {
  margin-top: 1.5625rem;
}

body.tag-r18 main > header:not(.is-style-no-change) p:not(.is-style-no-change), body.tag-r18 main > header *:not(.is-style-no-change) p:not(.is-style-no-change), body.tag-r18 main > div:not(.is-style-no-change) p:not(.is-style-no-change), body.tag-r18 main > div *:not(.is-style-no-change) p:not(.is-style-no-change), li.wp-block-post.tag-r18:not(.is-style-no-change) p:not(.is-style-no-change), li.wp-block-post.tag-r18 *:not(.is-style-no-change) p:not(.is-style-no-change) {
  color: #ffffff !important;
  font-weight: 700 !important;
  text-shadow: #FF9A93 0.1rem 0.1rem 1rem, #FF9A93 -0.1rem 0.1rem 1rem, #FF9A93 0.1rem -0.1rem 1rem, #FF9A93 -0.1rem -0.1rem 1rem !important;
  border-color: #FFB6C1;
  outline-color: #FFB6C1;
}
body.tag-r18 main > header:not(.is-style-no-change) p:not(.is-style-no-change) a, body.tag-r18 main > header *:not(.is-style-no-change) p:not(.is-style-no-change) a, body.tag-r18 main > div:not(.is-style-no-change) p:not(.is-style-no-change) a, body.tag-r18 main > div *:not(.is-style-no-change) p:not(.is-style-no-change) a, li.wp-block-post.tag-r18:not(.is-style-no-change) p:not(.is-style-no-change) a, li.wp-block-post.tag-r18 *:not(.is-style-no-change) p:not(.is-style-no-change) a {
  color: #ffffff !important;
  font-weight: 700 !important;
  text-shadow: #FF9A93 0.1rem 0.1rem 1rem, #FF9A93 -0.1rem 0.1rem 1rem, #FF9A93 0.1rem -0.1rem 1rem, #FF9A93 -0.1rem -0.1rem 1rem !important;
  border-color: #FFB6C1;
  outline-color: #FFB6C1;
}