@charset "UTF-8";
/**
 * Sketchpad Style - Post Terms.
 */
.wp-block-post-terms:not(.taxonomy-post_tag.is-style-sketchpad1) a:hover {
  text-decoration: underline;
}

.wp-block-post-terms.taxonomy-post_tag.is-style-sketchpad1::before {
  content: "Tags:";
  margin-right: 0.3125rem;
}
.wp-block-post-terms.taxonomy-post_tag.is-style-sketchpad1 a {
  color: var(--wp--preset--color--sketchpad-basic-part-font-color);
  fill: var(--wp--preset--color--sketchpad-basic-part-font-color);
  background-color: var(--wp--preset--color--sketchpad-heading-font-color);
  padding-right: 0.3125rem;
  border-radius: 0.625rem 0 0 0.625rem;
}
.wp-block-post-terms.taxonomy-post_tag.is-style-sketchpad1 a::before {
  content: "â—";
  color: var(--wp--preset--color--sketchpad-sketchpad-background);
  margin: 0 0.3125rem;
}

body.tag-r18 main > header:not(.is-style-no-change) .wp-block-post-terms:not(.is-style-no-change), body.tag-r18 main > header *:not(.is-style-no-change) .wp-block-post-terms:not(.is-style-no-change), body.tag-r18 main > div:not(.is-style-no-change) .wp-block-post-terms:not(.is-style-no-change), body.tag-r18 main > div *:not(.is-style-no-change) .wp-block-post-terms:not(.is-style-no-change), li.wp-block-post.tag-r18:not(.is-style-no-change) .wp-block-post-terms:not(.is-style-no-change), li.wp-block-post.tag-r18 *:not(.is-style-no-change) .wp-block-post-terms:not(.is-style-no-change) {
  color: #ffffff !important;
  font-weight: 700 !important;
  text-shadow: #FF9A93 0.1rem 0.1rem 1rem, #FF9A93 -0.1rem 0.1rem 1rem, #FF9A93 0.1rem -0.1rem 1rem, #FF9A93 -0.1rem -0.1rem 1rem !important;
  border-color: #FFB6C1;
  outline-color: #FFB6C1;
}
body.tag-r18 main > header:not(.is-style-no-change) .wp-block-post-terms:not(.is-style-no-change) a, body.tag-r18 main > header *:not(.is-style-no-change) .wp-block-post-terms:not(.is-style-no-change) a, body.tag-r18 main > div:not(.is-style-no-change) .wp-block-post-terms:not(.is-style-no-change) a, body.tag-r18 main > div *:not(.is-style-no-change) .wp-block-post-terms:not(.is-style-no-change) a, li.wp-block-post.tag-r18:not(.is-style-no-change) .wp-block-post-terms:not(.is-style-no-change) a, li.wp-block-post.tag-r18 *:not(.is-style-no-change) .wp-block-post-terms:not(.is-style-no-change) a {
  color: #ffffff !important;
  font-weight: 700 !important;
  text-shadow: #FF9A93 0.1rem 0.1rem 1rem, #FF9A93 -0.1rem 0.1rem 1rem, #FF9A93 0.1rem -0.1rem 1rem, #FF9A93 -0.1rem -0.1rem 1rem !important;
}
body.tag-r18 main > header:not(.is-style-no-change) .wp-block-post-terms:not(.is-style-no-change).taxonomy-post_tag a, body.tag-r18 main > header *:not(.is-style-no-change) .wp-block-post-terms:not(.is-style-no-change).taxonomy-post_tag a, body.tag-r18 main > div:not(.is-style-no-change) .wp-block-post-terms:not(.is-style-no-change).taxonomy-post_tag a, body.tag-r18 main > div *:not(.is-style-no-change) .wp-block-post-terms:not(.is-style-no-change).taxonomy-post_tag a, li.wp-block-post.tag-r18:not(.is-style-no-change) .wp-block-post-terms:not(.is-style-no-change).taxonomy-post_tag a, li.wp-block-post.tag-r18 *:not(.is-style-no-change) .wp-block-post-terms:not(.is-style-no-change).taxonomy-post_tag a {
  border-color: #FFB6C1;
  outline-color: #FFB6C1;
  background: #FF9A93;
}