/**
 * Sketchpad Style - Post Featured Image.
 */
.wp-block-post-featured-image.is-style-sketchpad1 {
  overflow: hidden;
}
.wp-block-post-featured-image.is-style-sketchpad1 a img {
  height: auto !important;
  width: 100%;
  -webkit-transition: 1s all;
  transition: 1s all;
}
.wp-block-post-featured-image.is-style-sketchpad1 a img:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: 1s all;
  transition: 1s all;
}

@media screen and (max-width: 1023px) {
  .wp-block-post-featured-image.is-style-sketchpad1 {
    margin-bottom: 1rem;
  }
}
@media (min-width: 1024px) {
  .wp-block-post-featured-image.is-style-sketchpad1 {
    height: auto;
    width: 12.5rem;
  }
}
li.wp-block-post.tag-r18 .wp-block-post-featured-image:not(.is-style-no-change) {
  border-color: #FFB6C1;
  outline-color: #FFB6C1;
}
li.wp-block-post.tag-r18 .wp-block-post-featured-image:not(.is-style-no-change) a {
  border-color: #FFB6C1;
  outline-color: #FFB6C1;
}