/**
 * Sketchpad Style - Post Comments Form.
 */
.wp-block-post-comments-form a {
  text-decoration: underline;
}
.wp-block-post-comments-form a:hover {
  text-decoration: none;
}
.wp-block-post-comments-form.comment-respond form {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  margin-top: 1.25rem;
}
.wp-block-post-comments-form.comment-respond form > p {
  margin-top: 0.625rem;
}
.wp-block-post-comments-form.comment-respond form .required {
  color: #c0392b;
}
.wp-block-post-comments-form.comment-respond form .comment-form-comment textarea {
  max-width: 100%;
}
.wp-block-post-comments-form.comment-respond form .form-submit input {
  width: 100%;
  height: 100%;
  padding: 0.3125rem;
  border: none;
  border-radius: 0.25rem;
  color: var(--wp--preset--color--sketchpad-basic-part-font-color);
  fill: var(--wp--preset--color--sketchpad-basic-part-font-color);
  background-color: var(--wp--preset--color--sketchpad-title-font-color);
  cursor: pointer;
}
.wp-block-post-comments-form.comment-respond form .form-submit input:hover {
  background-color: var(--wp--preset--color--sketchpad-heading-font-color);
}
.wp-block-post-comments-form.comment-respond form .logged-in-as .required-field-message {
  display: none;
}
.wp-block-post-comments-form.comment-respond form .logged-in-as + .comment-form-comment > label > .required {
  display: none;
}
.wp-block-post-comments-form.comment-respond .comment-reply-title > a {
  font-family: var(--wp--preset--font-family--sketchpad-arial-font);
  font-style: italic;
}
.wp-block-post-comments-form.comment-respond .comment-reply-title #cancel-comment-reply-link {
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin-left: 0.3125rem;
}
.wp-block-post-comments-form.comment-respond .comment-reply-title #cancel-comment-reply-link::before {
  content: "(";
}
.wp-block-post-comments-form.comment-respond .comment-reply-title #cancel-comment-reply-link::after {
  content: ")";
}