/**
 * Sketchpad Style - Search.
 */
@media screen and (max-width: 1023px) {
  .is-style-sketchpad-heading .wp-block-search.is-style-sketchpad1 {
    margin-top: 1.25rem;
  }
}
.wp-block-search .wp-block-search__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 0.625em;
}
.wp-block-search .wp-block-search__button.has-icon svg {
  display: block;
  margin: 0 auto;
}
.wp-block-search.is-style-sketchpad1 .wp-block-search__input, .wp-block-search.is-style-sketchpad2 .wp-block-search__input {
  width: 100%;
  padding: 0 0.3125rem;
  border-color: var(--wp--preset--color--sketchpad-form-border-color);
  border-width: thin;
  border-style: solid;
  border-radius: 0.3125rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.wp-block-search.is-style-sketchpad1 .wp-block-search__inside-wrapper, .wp-block-search.is-style-sketchpad2 .wp-block-search__inside-wrapper {
  border-color: var(--wp--preset--color--sketchpad-form-wraper-border-color);
}
.wp-block-search.is-style-sketchpad1 .wp-block-search__button.has-icon svg, .wp-block-search.is-style-sketchpad2 .wp-block-search__button.has-icon svg {
  color: var(--wp--preset--color--sketchpad-basic-part-font-color);
  fill: var(--wp--preset--color--sketchpad-basic-part-font-color);
}
.wp-block-search.is-style-sketchpad1 {
  font-size: 0.75rem;
  line-height: 0.75rem;
}
.wp-block-search.is-style-sketchpad1 .wp-block-search__button {
  width: 3.25rem;
  height: 1rem;
  padding: 0.3125rem;
  border: none;
  border-radius: 0.25rem;
  color: var(--wp--preset--color--sketchpad-basic-part-font-color);
  fill: var(--wp--preset--color--sketchpad-basic-part-font-color);
  background-color: var(--wp--preset--color--sketchpad-title-font-color);
  cursor: pointer;
}
.wp-block-search.is-style-sketchpad1 .wp-block-search__button:hover {
  background-color: var(--wp--preset--color--sketchpad-heading-font-color);
}
.wp-block-search.is-style-sketchpad2 .wp-block-search__button {
  width: 3.25rem;
  height: 100%;
  padding: 0.3125rem;
  border: none;
  border-radius: 0.25rem;
  color: var(--wp--preset--color--sketchpad-basic-part-font-color);
  fill: var(--wp--preset--color--sketchpad-basic-part-font-color);
  background-color: var(--wp--preset--color--sketchpad-title-font-color);
  cursor: pointer;
}
.wp-block-search.is-style-sketchpad2 .wp-block-search__button:hover {
  background-color: var(--wp--preset--color--sketchpad-heading-font-color);
}