/**
 * Sketchpad Style - Jetpack's Slide Show.
 */
.wp-block-group .wp-block-jetpack-slideshow img {
  width: 100%;
  -o-object-fit: initial;
     object-fit: initial;
}

.wp-block-jetpack-slideshow.is-style-sketchpad-postit img, .wp-block-jetpack-slideshow.is-style-sketchpad-postit svg {
  width: calc(100% - 0.625rem);
  margin: auto;
  padding: 0.3125rem 0.3125rem 1.25rem 0.3125rem;
  background: #ffffff;
  -o-border-image: linear-gradient(to bottom, #ddffff 0rem, #ffffff 0.0625rem) 1/1 0 0 0;
     border-image: -webkit-gradient(linear, left top, left bottom, color-stop(0rem, #ddffff), color-stop(0.0625rem, #ffffff)) 1/1 0 0 0;
     border-image: linear-gradient(to bottom, #ddffff 0rem, #ffffff 0.0625rem) 1/1 0 0 0;
  border-width: 1.5625rem 0 0 0;
  border-style: solid;
  -webkit-box-shadow: 0 1rem 0.6rem -0.6rem #777777;
          box-shadow: 0 1rem 0.6rem -0.6rem #777777;
}
.wp-block-jetpack-slideshow.is-style-sketchpad-postit .wp-block-jetpack-slideshow_pagination.swiper-pagination-bullets {
  margin-bottom: 1rem;
  padding-top: 0.3125rem;
}