// Button Property

@mixin Button($font-size: 1.2rem, $width: 5.2rem, $height: 1.6rem, $border: none, $border-radius: 0.4rem) {
  @include GetFontPreSet($font-size, 700, 1);
  @include ArialFontFamily;
  width: $width;
  height: $height;
  border: $border;
  border-radius: $border-radius;
  @include FillInStringColor;
  @include ButtonBackgroundColor;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;

  &:hover {
    @include ButtonHoverBackgroundColor;
  }
}
