// Form Property

@mixin InputForm($font-size: 1.2rem, $width: 14.5rem, $height: 1.6rem, $padding: 0 0.5rem, $border-radius: 0.5rem) {
  @include GetFontPreSet($font-size, 400, 1);
  @include ArialFontFamily;
  width: $width;
  height: $height;
  padding: $padding;
  @include InputFormBorderColor1;
  @include ThinBorderStyle;
  border-radius: $border-radius;
  vertical-align: middle;
}

@mixin SidebarInputForm($font-size: 1.2rem, $width: 14.5rem, $height: 1.6rem, $padding: 0 0.5rem) {
  @include GetFontPreSet($font-size, 400);
  @include ArialFontFamily;
  width: $width;
  height: $height;
  padding: $padding;
  @include SidebarFormBorderColor;
  @include ThinBorderStyle;
  vertical-align: middle;
}
