// Basic Tags

@mixin BasicTags {
  .is-style-h1 {
    @include BaseFontFamily;

    @include responsive() {
      @include GetFont(2.4rem);
    }
    @include responsive('md') {
      @include GetFont(2rem);
    }
  }

  h1 {
    @extend .is-style-h1;
  }

  .is-style-h2 {
    @include BaseFontFamily;

    @include responsive() {
      @include GetFont(2.4rem);
    }
    @include responsive('md') {
      @include GetFont(2rem);
    }
  }

  h2 {
    @extend .is-style-h2;
  }

  .is-style-h3 {
    @include BaseFontFamily;

    @include responsive() {
      @include GetFont(2.2rem);
    }
    @include responsive('md') {
      @include GetFont(1.9rem);
    }
  }

  h3 {
    @extend .is-style-h3;
  }

  .is-style-h4 {
    @include BaseFontFamily;

    @include responsive() {
      @include GetFont(2.0rem);
    }
    @include responsive('md') {
      @include GetFont(1.8rem);
    }
  }

  h4 {
    @extend .is-style-h4;
  }

  .is-style-h5 {
    @include BaseFontFamily;

    @include responsive() {
      @include GetFont(1.8rem);
    }
    @include responsive('md') {
      @include GetFont(1.7rem);
    }
  }

  h5 {
    @extend .is-style-h5;
  }

  .is-style-h5-and-mt0 {
    @extend .is-style-h5;
    margin-top: 0;
  }

  .is-style-h5-and-mtb0 {
    @extend .is-style-h5-and-mt0;
    margin-bottom: 0;
  }

  .is-style-h6 {
    @include GetFont(1.6rem);
    @include BaseFontFamily;
  }

  h6 {
    @extend .is-style-h6;
  }

  p {
    @include GetFontPreSet;
    @include BaseFontFamily;
  }

  address {
    @include GetFontPreSet;
    @include BaseFontFamily;
    font-style: italic;
  }

  table {
    @include GetFontPreSet(1.2rem);
    @include BaseFontFamily;
    width: 100%;
    @include TableBorderColor1;
    border-spacing: 0;
    border-collapse: collapse;
  }

  th {
    @include GetFontPreSet;
    @include BaseFontFamily;
  }

  th, td {
    @include GetFontPreSet;
    @include BaseFontFamily;
  }

  dl {
    @include GetFontPreSet;
    @include BaseFontFamily;

    dt, dd {
      padding: 0 0.5rem;
    }

    dt {
      font-weight: 700;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    outline: 0;
    border: 0;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  iframe, object {
    max-width: 100%;
  }

  iframe.wp-embedded-content {
    @include EmbeddedContentShadowStyle1;
  }

  pre {
    @include GetFontPreSet;
    @include MonospaceFontFamily;
    overflow: auto;
    margin: 1.2rem 0;
    padding: 1rem;
    @include ThinBorderStyle;

    @include responsive() {
      white-space: pre;
    }
    @include responsive('md') {
      white-space: pre-wrap;
    }
  }

  ins {
    display: block;
    text-decoration: none;

    *:not(a) {
      @include DottedOutlineStyle;
      outline-offset: -0.1rem;
    }
  }

  abbr, acronym {
    cursor: help;
  }
}
