// Z-Index Property

@mixin SketchpadLowLayer {
  z-index: 5;
}

@mixin SketchpadMiddleLayer {
  z-index: 10;
}

@mixin SketchpadSidebarLayer {
  z-index: 15;
}

@mixin SketchpadTopmostLayer {
  z-index: 1000;
}

@mixin SketchpadSuperLayer {
  z-index: 10000;
}
