@import "../../customised/restore4color";

// Change to Pink Property

@mixin Change2PinkTextStyle {
  color: #ffffff;
  font-weight: 700;
  text-shadow: #ff9a93 0.1rem 0.1rem 1rem, #ff9a93 -0.1rem 0.1rem 1rem,
    #ff9a93 0.1rem -0.1rem 1rem, #ff9a93 -0.1rem -0.1rem 1rem;
}

@mixin Change2PinkBoxStyle {
  box-shadow: #ff9a93 0.1rem 0.1rem 1rem, #ff9a93 -0.1rem 0.1rem 1rem,
    #ff9a93 0.1rem -0.1rem 1rem, #ff9a93 -0.1rem -0.1rem 1rem;
}

@mixin Change2PinkQuoteSimbol {
  color: #ffffff;
}

@mixin Change2PinkBorderColor {
  border-color: #ffb6c1;
  outline-color: #ffb6c1;
}

@mixin Change2PinkBorderColorImportant {
  border-color: #ffb6c1 !important;
  outline-color: #ffb6c1 !important;
}

@mixin Change2PinkHoverBorderColor {
  border-color: #ff9a93;
}

@mixin Change2PinkBackground {
  background: #ff9a93;
}

@mixin Change2PinkPostTagBackground {
  background: #ff9a93;
}

@mixin Change2PinkImagePostit {
  border-image: linear-gradient(to bottom, #ffb6c1 0rem, #ffffff 0.1rem) 1 / 1 0
    0 0;
}

@mixin Change2PinkRecentPost {
  &.tag-r18 {
    @include Change2PinkBorderColor;

    > a > span {
      @include Change2PinkTextStyle;
    }
  }
}

@mixin Change2PinkArticle {
  &.tag-r18 {
    header {
      * {
        @include Change2PinkTextStyle;
        @include Change2PinkBorderColor;
      }

      > div.post-header > h3.post-title {
        > a {
          @include Change2PinkTextStyle;
          @include Left2RightStyle(#ff9a93);

          &:first-of-type::after {
            content: "";
            padding-left: initial;
          }

          &.external {
            background: none;
            transition: initial;
          }
        }

        span.r18 {
          font-size: 1.65rem;

          > span {
            margin-top: -0.1rem;
            margin-left: -0.1rem;
          }
        }
      }

      .post-meta {
        .post-edit-link {
          @include Change2PinkBackground;
        }

        .by-author {
          @include Change2PinkTextStyle;
        }
      }
    }

    footer {
      * {
        @include Change2PinkTextStyle;
        @include Change2PinkBorderColor;
      }

      a.comments-link,
      a.more-link {
        @include Change2PinkTextStyle;
        @include Change2PinkBorderColor;
      }

      .post-tag a {
        @include Change2PinkPostTagBackground;
      }

      .pagination {
        * {
          @include Change2PinkTextStyle;
          @include Change2PinkBorderColor;
        }

        .post-page-numbers:not(.current) {
          @include ThinBorderStyle;
          @include SketchpadBackground;
        }

        .current,
        .post-page-numbers:hover,
        a:hover {
          @include Change2PinkBackground;
          @include Change2PinkHoverBorderColor;
        }
      }
    }

    .post-content {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      em,
      s,
      ruby,
      rp,
      rt,
      a,
      ul,
      ol,
      li,
      table,
      thead,
      tbody,
      tr,
      th,
      td,
      figcaption,
      cite,
      span,
      div {
        @include Change2PinkTextStyle;
        @include Change2PinkBorderColor;
      }

      button {
        @include Change2PinkBoxStyle;
      }

      li::marker {
        @include Change2PinkTextStyle;
      }

      .thumb-box {
        @include Change2PinkBorderColorImportant;
      }

      blockquote.wp-block-quote {
        @include Change2PinkBorderColor;

        &:before {
          @include Change2PinkTextStyle;
        }
      }

      .is-style-image-postit {
        img,
        svg {
          @include Change2PinkImagePostit;
        }
      }

      $restore: "";
      @each $element in $restoreChange2pinkElements {
        @if "" != $restore {
          $restore: $restore + ", ";
        }

        $restore: $restore + $element;
      }

      #{$restore} {
        * {
          font-weight: initial;
          color: initial;
          background-color: initial;
          border-color: initial;
          outline-color: initial;
          text-shadow: initial;
        }

        @include BasicTagsStyleSet;
        @include ArticleStyleSet;

        .is-style-image-postit {
          @include ImagePostit;
        }

        @include RestoreColor;
      }
    }
  }

  &:not(.tag-r18) {
    span.r18 {
      display: none;
    }
  }
}
