// Clipping for Image Property

@mixin Clipping4Image {
  --box-width: auto;
  --box-height: auto;
  --image-width: auto;
  --image-height: auto;
  --image-position: 0 0;

  width: var(--box-width);
  height: var(--box-height);
  overflow: hidden;

  img {
    width: var(--image-width);
    height: var(--image-height);
    object-fit: cover;
    object-position: var(--image-position);
  }
}
