// Reduction Property

@mixin Reduction4Iframe {
  --original-width: auto;
  --original-height: auto;
  --reduction-width: auto;
  --reduction-height: auto;
  --scale: scale(0.45, 0.45);
  --top: 0;
  --left: 0;

  width: var(--reduction-width);
  max-width: var(--reduction-width);
  height: var(--reduction-height);

  > div {
    width: var(--original-width);
    max-width: var(--original-width);
    height: var(--original-height);
    max-height: var(--original-height);
    overflow: hidden;

    > iframe {
      width: var(--original-width);
      max-width: var(--original-width);
      height: var(--original-height);
      max-height: var(--original-height);
      position: relative;
      transform: var(--scale);
      top: var(--top);
      left: var(--left);
    }
  }
}
