@use 'preset' as Preset;
@use 'define' as Define;

@mixin Styles {
  &1, &2 {
    border: none;
  }

  &1 {
    border-top-left-radius: 0.8rem;
  }

  &2 {
    border-top-right-radius: 0.8rem;
  }

  &2, &4 {
    @include Preset.SketchpadShadow;
  }

  &3 {
    @if Define.$use_webp {
      background: url("#{Define.$image_directory}bg-main.webp") top left repeat-y;
    } @else {
      background: url("#{Define.$image_directory}bg-main.png") top left repeat-y;
    }

    background-size: contain;
  }

  &5 {
    min-height: 5.2rem;

    @if Define.$use_webp {
      background: url("#{Define.$image_directory}bg-footer.webp") no-repeat;
    } @else {
      background: url("#{Define.$image_directory}bg-footer.png") no-repeat;
    }

    background-size: contain;
  }
}
