@use 'preset' as Preset;

@mixin Postit {
  > li:first-child ul li {
    margin-top: 0.3125rem;
  }

  > li:not(:first-child) {
    margin-top: 0.3125rem;
  }

  & li {
    @include Preset.BasePostit;
    @include Preset.SidebarPostitColorSeries;
    display: block;
  }
}

@mixin Postit4Sidebar {
  & li {
    @include Preset.Postit4Sidebar;
  }
}
