@use 'preset' as Preset;

@mixin Postit {
  > li:not(:first-child) {
    margin-top: 0.3125rem;
  }

  & li {
    @include Preset.BasePostit;
    @include Preset.SidebarPostitColorSeries;

    & {
      display: block;
    }

    > ul {
      display: none;
    }
  }
}

@mixin Postit4Sidebar {
  & li {
    @include Preset.Postit4Sidebar;
  }
}
