@use 'preset' as Preset;

@mixin Styles {
  &1 {
    width: 100%;

    .wp-block-post-excerpt__excerpt, > div:first-of-type {
      display: inline-block;
      min-height: 8.125rem;
      margin-bottom: 1.5625rem;
    }

    .wp-block-post-excerpt__more-text {
      @include Preset.ArialFontFamily;
      @include Preset.GetFontPreSet($font-size: 0.75rem);
      text-align: right;

      a:hover {
        text-decoration: underline;
      }
    }
  }
}
