@use 'preset' as Preset;
@use 'define' as Define;

@mixin Styles {
  &1 {
    word-break: break-all;
    padding-bottom: 0.1rem;

    a {
      display: initial;
      @include Preset.Left2RightStyle(#9B8F76);

      &:first-of-type::after {
        @if Define.$use_webp {
          content: url(../../../images/mark3.webp);
        } @else {
          content: url(../../../images/mark3.png);
        }  

        padding-left: 0.5rem;
      }
    }
  }
}
