@use 'preset' as Preset;

@mixin Styles {
  &1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .wp-block-post-excerpt__excerpt {
      flex-grow: 1;
    }

    .wp-block-post-excerpt__more-text {
      @include Preset.ArialFontFamily;
      @include Preset.GetFontPreSet($font-size: 0.75rem);
      text-align: right;

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

@mixin Desktop {
  &1 {
    &.wp-block-post-excerpt {
      min-height: 12.5rem;
    }
  }
}
