/**
* Deprecated
* -----------------------------------------------------------------------------------------------
*/


.w13-5em {
  width: 13.5em !important;
}

.w15em {
  width: 15em !important;
}

.w20em {
  width: 20em !important;
}

.h100 {
  height: 100% !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb3 {
  margin-bottom: 3em !important;
}

.ml0 {
  margin-left: 0 !important;
}

.fontsize0-75 {
  font-size: 0.75em !important;
}

.float-block {
  height: auto;
  overflow: hidden;

  p {
    padding-top: 0.1em;
    padding-left: 0.5em;
  }
}
