// width constant
$breakpoints: (
  'sm': 'screen and (max-width: 1023px)',
  'md': 'screen and (max-width: 1023px)',
  'lg': '(min-width: 1024px)',
  'xl': '(min-width: 1024px)',
) !default;

// PC
$binder_width: 9.6rem;
$binder_inner_margin_left: 1.8rem;

$main_width: 59rem;
$main_padding_right_width: 4.7rem;

$sidebar_width: 19.2rem;
$sidebar_margin_left_width: -4rem;

$sketchpad_width: $binder_width + $main_width + $main_padding_right_width;
$content_width: $main_width + $main_padding_right_width + $sidebar_width + $sidebar_margin_left_width;
$wrapper_width: $binder_width + $content_width;

// Smart Phone
$sp_main_width: 95%;
$sp_main_padding_left_width: 2rem;
$sp_main_padding_right_width: 2rem;
$sp_main_padding_footer_bottom: 0.5rem;

$sp_content_margin: 0 auto 0 auto;

// default constant
$default_font_size: 1.6rem;
$default_font_weight: 400;
$default_line_height_ratio: 1.5;

// change2 series constant
$change2pink: tag-r18;
$restoreChange2pinkElements: '.no-change', '.yarpp-related';
