form#customize-controls .control-section .accordion-section-title, form#customize-controls .customize-pane-child .accordion-section-title {
  padding-right: 25px;
}

form#customize-controls textarea[id^="_customize-input-sketchpad_"] {
  height: 20rem;
  word-break: break-all;
}
