// Background Color Property

@mixin Background {
  background: #AF9F88;
}

@mixin SketchpadBackground {
  background: #F4EDDF;
}

@mixin QuoteBackgroundColor {
  background: #f5f5f5;
}

@mixin NavigationHoverBackgroundColor {
  background: #CFC5AD;
}

@mixin ButtonBackgroundColor {
  background-color: #9b8f76;
}

@mixin ButtonHoverBackgroundColor {
  background-color: #776b53;
}

@mixin PostTagBackground {
  background: #776b53;
}

@mixin PaginationBackground {
  background: #9b8f76
}

@mixin PaginationHoverBackground {
  background: #776b53
}

@mixin SidebarCalendarCaptionBackgroundColor {
  background-color: #4E4F4A;
}

@mixin ExternalContentBackgroundColor1 {
  background: none repeat scroll 0 0 #f5ead0;
}

@mixin FooterBackgroundColor {
  background: #CFC5AD;
}
