<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"section","lock":{"move":true,"remove":true},"style":{"spacing":{"margin":{"top":"0%","bottom":"0%"},"padding":{"top":"0%","right":"0%","bottom":"0%","left":"0%"},"blockGap":"0%"}},"layout":{"contentSize":"55.625rem","type":"constrained"}} -->
<section class="wp-block-group" style="margin-top:0%;margin-bottom:0%;padding-top:0%;padding-right:0%;padding-bottom:0%;padding-left:0%"><!-- wp:columns {"isStackedOnMobile":false,"lock":{"move":true,"remove":true},"style":{"spacing":{"blockGap":"0%"}}} -->
<div class="wp-block-columns is-not-stacked-on-mobile"><!-- wp:column {"width":"6rem","lock":{"move":true,"remove":true},"className":"is-style-sketchpad-left"} -->
<div class="wp-block-column is-style-sketchpad-left" style="flex-basis:6rem"></div>
<!-- /wp:column -->

<!-- wp:column {"width":"36.875rem","lock":{"move":true,"remove":true},"backgroundColor":"sketchpad-sketchpad-background","className":"is-style-sketchpad-center"} -->
<div class="wp-block-column is-style-sketchpad-center has-sketchpad-sketchpad-background-background-color has-background" style="flex-basis:36.875rem"><!-- wp:query {"queryId":0,"query":{"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"perPage":10},"tagName":"main","displayLayout":{"type":"list"},"layout":{"inherit":true}} -->
<main class="wp-block-query"><!-- wp:post-template -->
<!-- wp:group {"tagName":"article","align":"wide","style":{"spacing":{"padding":{"top":"0.625rem","bottom":"1.25rem"},"blockGap":"1.5625rem"}}} -->
<article class="wp-block-group alignwide" style="padding-top:0.625rem;padding-bottom:1.25rem"><!-- wp:group {"tagName":"header","style":{"spacing":{"blockGap":"0%"}}} -->
<header class="wp-block-group"><!-- wp:post-title {"isLink":true,"className":"is-style-sketchpad1"} /-->

<!-- wp:separator {"opacity":"css","backgroundColor":"sketchpad-heading-font-color","className":"is-style-sketchpad2"} -->
<hr class="wp-block-separator has-text-color has-sketchpad-heading-font-color-color has-css-opacity has-sketchpad-heading-font-color-background-color has-background is-style-sketchpad2"/>
<!-- /wp:separator -->

<!-- wp:columns {"isStackedOnMobile":false,"style":{"spacing":{"margin":{"top":"0.31rem","bottom":"0rem"}}}} -->
<div class="wp-block-columns is-not-stacked-on-mobile" style="margin-top:0.31rem;margin-bottom:0rem"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"0.3125rem"}},"layout":{"type":"flex","allowOrientation":false,"flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:post-date /-->

<!-- wp:sketchpad-modified-blocks/post-edit-link {"label":"\u003cem\u003eedit\u003c/em\u003e"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"0.3125rem"}},"layout":{"type":"flex","allowOrientation":false,"justifyContent":"right"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontSize":"0.75rem"}},"textColor":"sketchpad-meta-data-font-color"} -->
<p class="has-sketchpad-meta-data-font-color-color has-text-color" style="font-size:0.75rem">posted by</p>
<!-- /wp:paragraph -->

<!-- wp:post-author {"showAvatar":false} /-->

<!-- wp:post-terms {"term":"category","prefix":"in ","className":"is-style-sketchpad1"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section"} -->
<section class="wp-block-group"><!-- wp:columns {"style":{"spacing":{"blockGap":"0%"}}} -->
<div class="wp-block-columns"><!-- wp:column {"className":"is-style-fit-content"} -->
<div class="wp-block-column is-style-fit-content"><!-- wp:group -->
<div class="wp-block-group"><!-- wp:post-featured-image {"isLink":true,"className":"is-style-sketchpad1"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:post-excerpt {"moreText":"more »","className":"is-style-sketchpad1"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"footer","style":{"spacing":{"blockGap":"1.25rem"}}} -->
<footer class="wp-block-group"><!-- wp:sketchpad-modified-blocks/post-comments-count {"isLink":true,"anchor":"comments","beforeText":"read comments (","afterText":")","style":{"typography":{"fontSize":"0.75rem"}},"fontFamily":"sketchpad-arial-font"} /-->

<!-- wp:post-terms {"term":"post_tag","separator":"","className":"is-style-sketchpad1"} /--></footer>
<!-- /wp:group --></article>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"align":"center","className":"is-style-sketchpad1","layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-previous {"label":"«"} /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next {"label":"»"} /-->
<!-- /wp:query-pagination --></main>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"2.9375rem","lock":{"move":true,"remove":true},"backgroundColor":"sketchpad-sketchpad-background"} -->
<div class="wp-block-column has-sketchpad-sketchpad-background-background-color has-background" style="flex-basis:2.9375rem"></div>
<!-- /wp:column -->

<!-- wp:column {"width":"9.8125rem","lock":{"move":true,"remove":true}} -->
<div class="wp-block-column" style="flex-basis:9.8125rem"><!-- wp:template-part {"slug":"sidebar","tagName":"aside"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"is-style-sketchpad-footer"} /-->