@charset "UTF-8";
/**
 * Sketchpad Style - Heading.
 */
body.tag-r18 .editor-styles-wrapper *:not(.is-style-no-change) h1:not(.is-style-no-change), body.tag-r18 .editor-styles-wrapper *:not(.is-style-no-change) h2:not(.is-style-no-change), body.tag-r18 .editor-styles-wrapper *:not(.is-style-no-change) h3:not(.is-style-no-change), body.tag-r18 .editor-styles-wrapper *:not(.is-style-no-change) h4:not(.is-style-no-change), body.tag-r18 .editor-styles-wrapper *:not(.is-style-no-change) h5:not(.is-style-no-change), body.tag-r18 .editor-styles-wrapper *:not(.is-style-no-change) h6:not(.is-style-no-change) {
  color: #ffffff !important;
  font-weight: 700 !important;
  text-shadow: #FF9A93 0.1rem 0.1rem 1rem, #FF9A93 -0.1rem 0.1rem 1rem, #FF9A93 0.1rem -0.1rem 1rem, #FF9A93 -0.1rem -0.1rem 1rem !important;
  border-color: #FFB6C1;
  outline-color: #FFB6C1;
}

/**
 * Sketchpad Style - Image.
 */
body.tag-r18 .editor-styles-wrapper *:not(.is-style-no-change) .wp-block-image:not(.is-style-no-change) {
  color: #ffffff !important;
  font-weight: 700 !important;
  text-shadow: #FF9A93 0.1rem 0.1rem 1rem, #FF9A93 -0.1rem 0.1rem 1rem, #FF9A93 0.1rem -0.1rem 1rem, #FF9A93 -0.1rem -0.1rem 1rem !important;
  border-color: #FFB6C1;
  outline-color: #FFB6C1;
}
body.tag-r18 .editor-styles-wrapper *:not(.is-style-no-change) .wp-block-image:not(.is-style-no-change) img {
  -o-border-image: linear-gradient(to bottom, #ffb6c1 0rem, #ffffff 0.1rem) 1/1 0 0 0;
     border-image: -webkit-gradient(linear, left top, left bottom, color-stop(0rem, #ffb6c1), color-stop(0.1rem, #ffffff)) 1/1 0 0 0;
     border-image: linear-gradient(to bottom, #ffb6c1 0rem, #ffffff 0.1rem) 1/1 0 0 0;
}
body.tag-r18 .editor-styles-wrapper *:not(.is-style-no-change) .wp-block-image:not(.is-style-no-change) a, body.tag-r18 .editor-styles-wrapper *:not(.is-style-no-change) .wp-block-image:not(.is-style-no-change) figcaption {
  color: #ffffff !important;
  font-weight: 700 !important;
  text-shadow: #FF9A93 0.1rem 0.1rem 1rem, #FF9A93 -0.1rem 0.1rem 1rem, #FF9A93 0.1rem -0.1rem 1rem, #FF9A93 -0.1rem -0.1rem 1rem !important;
  border-color: #FFB6C1;
  outline-color: #FFB6C1;
}

/**
 * Sketchpad Style - Paragraph.
 */
body.tag-r18 .editor-styles-wrapper *:not(.is-style-no-change) p:not(.is-style-no-change) {
  color: #ffffff !important;
  font-weight: 700 !important;
  text-shadow: #FF9A93 0.1rem 0.1rem 1rem, #FF9A93 -0.1rem 0.1rem 1rem, #FF9A93 0.1rem -0.1rem 1rem, #FF9A93 -0.1rem -0.1rem 1rem !important;
  border-color: #FFB6C1;
  outline-color: #FFB6C1;
}
body.tag-r18 .editor-styles-wrapper *:not(.is-style-no-change) p:not(.is-style-no-change) a {
  color: #ffffff !important;
  font-weight: 700 !important;
  text-shadow: #FF9A93 0.1rem 0.1rem 1rem, #FF9A93 -0.1rem 0.1rem 1rem, #FF9A93 0.1rem -0.1rem 1rem, #FF9A93 -0.1rem -0.1rem 1rem !important;
  border-color: #FFB6C1;
  outline-color: #FFB6C1;
}

.block-editor-block-list__layout .block-editor-block-list__block.is-style-speech::after {
  content: "ã€";
  position: relative;
  top: inherit;
  bottom: initial;
  left: initial;
  right: initial;
}

/**
 * Sketchpad Style - Post Title.
 */
body.tag-r18 .editor-styles-wrapper *:not(.is-style-no-change) .wp-block-post-title:not(.is-style-no-change) {
  color: #ffffff !important;
  font-weight: 700 !important;
  text-shadow: #FF9A93 0.1rem 0.1rem 1rem, #FF9A93 -0.1rem 0.1rem 1rem, #FF9A93 0.1rem -0.1rem 1rem, #FF9A93 -0.1rem -0.1rem 1rem !important;
  border-color: #FFB6C1;
  outline-color: #FFB6C1;
}
body.tag-r18 .editor-styles-wrapper *:not(.is-style-no-change) .wp-block-post-title:not(.is-style-no-change) a {
  color: #ffffff !important;
  font-weight: 700 !important;
  text-shadow: #FF9A93 0.1rem 0.1rem 1rem, #FF9A93 -0.1rem 0.1rem 1rem, #FF9A93 0.1rem -0.1rem 1rem, #FF9A93 -0.1rem -0.1rem 1rem !important;
}
body.tag-r18 .editor-styles-wrapper *:not(.is-style-no-change) .wp-block-post-title:not(.is-style-no-change) a {
  text-decoration: none;
  padding-bottom: 0.01rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffb6c1), to(#ffb6c1)) 0 100%/0 2px no-repeat;
  background: linear-gradient(#ffb6c1, #ffb6c1) 0 100%/0 2px no-repeat;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
body.tag-r18 .editor-styles-wrapper *:not(.is-style-no-change) .wp-block-post-title:not(.is-style-no-change) a:hover {
  background-size: 100% 2px;
}
body.tag-r18 .editor-styles-wrapper *:not(.is-style-no-change) .wp-block-post-title:not(.is-style-no-change) a::after {
  display: none;
}

.wp-block-post-title.is-style-sketchpad1.block-editor-block-list__block > a > div:first-of-type {
  display: inline;
}

/**
 * Sketchpad Style - Search.
 */
body.editor-styles-wrapper aside .wp-block-search .components-resizable-box__container {
  min-width: initial !important;
}

/**
 * Sketchpad Style - Separator.
 */
body.tag-r18 .editor-styles-wrapper *:not(.is-style-no-change) .wp-block-separator:not(.is-style-no-change) {
  border-color: #FFB6C1;
  outline-color: #FFB6C1;
}