@mixin BackgroundNone {
  background: transparent;
}

@mixin PostTagsBackgroundColor {
  background-color: var(--wp--preset--color--sketchpad-heading-font-color);
}

@mixin PaginationBackgroundColor {
  background-color: var(--wp--preset--color--sketchpad-title-font-color);
}

@mixin PaginationCurrentBackgroundColor {
  background-color: var(--wp--preset--color--sketchpad-heading-font-color);
}

@mixin PaginationHoverBackgroundColor {
  background-color: var(--wp--preset--color--sketchpad-heading-font-color);
}

@mixin ButtonBackgroundColor {
  background-color: var(--wp--preset--color--sketchpad-title-font-color);
}

@mixin ButtonHoverBackgroundColor {
  background-color: var(--wp--preset--color--sketchpad-heading-font-color);
}

@mixin CalendarCaptionBackgroundColor {
  background-color: #4E4F4A;
}

@mixin CalendarTodayBackgroundColor {
  background-color: #4E4F4A;
}

@mixin QuoteBackgroundColor {
  background: #F5F5F5;
}


@mixin Background {
  background: #AF9F88;
}

@mixin SketchpadBackground {
  background: #F4EDDF;
}

@mixin NavigationHoverBackgroundColor {
  background: #CFC5AD;
}

@mixin PostTagBackground {
  background: #776b53;
}

@mixin PaginationBackground {
  background: #9b8f76
}

@mixin PaginationHoverBackground {
  background: #776b53
}

@mixin ExternalContentBackgroundColor1 {
  background: none repeat scroll 0 0 #f5ead0;
}

@mixin FooterBackgroundColor {
  background: #CFC5AD;
}
