@mixin BackgroundNone {
  background: transparent;
}

@mixin PostTagsBackgroundColor {
  background-color: var(--wp--preset--color--sketchpad-heading-font-color);
}

@mixin PaginationBackgroundColor {
  background-color: var(--wp--preset--color--sketchpad-title-font-color);
}

@mixin PaginationCurrentBackgroundColor {
  background-color: var(--wp--preset--color--sketchpad-heading-font-color);
}

@mixin PaginationHoverBackgroundColor {
  background-color: var(--wp--preset--color--sketchpad-heading-font-color);
}

@mixin ButtonBackgroundColor {
  background-color: var(--wp--preset--color--sketchpad-title-font-color);
}

@mixin ButtonHoverBackgroundColor {
  background-color: var(--wp--preset--color--sketchpad-heading-font-color);
}

@mixin CalendarCaptionBackgroundColor {
  background-color: #4E4F4A;
}

@mixin CalendarTodayBackgroundColor {
  background-color: #4E4F4A;
}

@mixin QuoteBackgroundColor {
  background: #F5F5F5;
}

@mixin FooterBackgroundColor {
  background: #DCCCB4;
}
