@mixin BasicFontColor {
  color: var(--wp--preset--color--sketchpad-basic-font-color);
}

@mixin PersonNameColor {
  color: var(--wp--preset--color--sketchpad-person-name-font-color);
}

@mixin PostTagsMarkColor {
  color: var(--wp--preset--color--sketchpad-sketchpad-background);
}

@mixin PostTagsColor($color: var(--wp--preset--color--sketchpad-basic-part-font-color)) {
  color: $color;
  fill: $color;
}

@mixin PaginationColor {
  color: var(--wp--preset--color--sketchpad-sketchpad-background);
}

@mixin ButtonColor($color: var(--wp--preset--color--sketchpad-basic-part-font-color)) {
  color: $color;
  fill: $color;
}

@mixin Required {
  color: #c0392b;
}

@mixin SidebarHeadingColor {
  color: #5E523A;
}

@mixin CalendarCaptionColor {
  color: #F6E9DC;
}

@mixin CalendarSaturdayColor {
  color: #426ab3;
}

@mixin CalendarSundayColor {
  color: #c0392b;
}

@mixin CalendarTodayColor {
  color: #F4EDDF;
}

@mixin QuoteSimbolColor {
  color: #9dd4ff;
}

@mixin CiteColor {
  color: #888888;
}
