@use 'preset' as Preset;
@use 'define' as Define;

@mixin Main($class) {
  .#{$class} {
    @content;
  }
}

@mixin MainOnly($class) {
  main .#{$class} {
    @content;
  }
}

@mixin Sidebar($class) {
  aside .#{$class} {
    @content;
  }
}

@mixin DefaultListStyle($tag: '') {
  margin-left: 1.5em;

  @if $tag != '' {
    #{$tag}:hover {
      padding-left: 1.5em;
      transition: padding-left 1s;
    }
  } @else {
    &:hover {
      padding-left: 1.5em;
      transition: padding-left 1s;
    }
  }

  a {
    @include Preset.Left2RightStyle(var(--wp--preset--color--sketchpad-heading-font-color), 0.125rem, 0.0625rem);
  }
}

@mixin ChangeColor4PostsMeta {
  li.wp-block-post.#{Define.$change2pink} {
    @content;    
  }
}

@mixin ChangeColor4PostMeta {
  li.wp-block-post.#{Define.$change2pink} {
    @content;    
  }

  body.#{Define.$change2pink} main > {
    header {
      >, *:not(#{Define.$no_change_class_name}) {
        @content;
      }
    }
  }
}

@mixin ChangeColor4PostFooter {
  body.#{Define.$change2pink} main > {
    footer {
      >, *:not(#{Define.$no_change_class_name}) {
        @content;
      }
    }
  }
}

@mixin ChangeColor4Article {
  body.#{Define.$change2pink} main > div.wp-block-post-content {
    >, *:not(#{Define.$no_change_class_name}) {
      @content;
    }
  }
}

@mixin SidebarOnDisplay($class) {
  body.sidebar-on-display .#{$class} {
    @content;
  }
}
