@mixin SketchpadShadow {
  box-shadow: 0.3rem 0.2rem 0.3rem rgba(50, 50, 50, 0.3);
}

@mixin BlockQuoteShadow {
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.14);
}




@mixin EmbeddedContentShadowStyle1 {
  box-shadow: 0.3rem 0.4rem 0.3rem rgba(50, 50, 50, 0.4);
}
