// Z-Index Property

@mixin SketchpadLowLayer($plus: 0) {
  z-index: 5 + $plus;
}

@mixin SketchpadMiddleLayer($plus: 0) {
  z-index: 10 + $plus;
}

@mixin SketchpadSidebarLayer($plus: 0) {
  z-index: 15 + $plus;
}

@mixin SketchpadTopmostLayer($plus: 0) {
  z-index: 1000 + $plus;
}

@mixin SketchpadSuperLayer($plus: 0) {
  z-index: 10000 + $plus;
}
