/**
 * Sketchpad Style - Hamburger menu button.
 */
@media (min-width: 1024px) {
  .hamburger {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .hamburger {
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-family: var(--wp--preset--font-family--sketchpad-base-font);
    position: fixed;
    bottom: 0.875rem;
    left: 0.625rem;
    width: 3.75rem;
    height: 3.75rem;
    border-style: solid;
    border-width: 0.0625rem;
    border-radius: 0.1875rem;
    color: #FFFFFF;
    fill: #FFFFFF;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    z-index: 10000;
  }
  .hamburger:focus {
    outline: 0;
  }
  .hamburger .close {
    display: none;
  }
  .hamburger * {
    font-size: 1.875rem;
    width: initial;
    height: initial;
  }
}