/**
 * Sketchpad Style - Return to top button.
 */
.return2top {
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-family: var(--wp--preset--font-family--sketchpad-base-font);
  position: fixed;
  display: none;
  bottom: 0.875rem;
  right: 6.25rem;
  width: 3.75rem;
  height: 3.75rem;
  border-style: solid;
  border-width: 0.0625rem;
  border-radius: 0.1875rem;
  color: #FFFFFF;
  fill: #FFFFFF;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  z-index: 10000;
}
.return2top:focus {
  outline: 0;
}
.return2top * {
  font-size: 1.875rem;
  width: initial;
  height: initial;
}